<{ config_load file="viewpost.conf" }>
<html>
<head>
<title><{#res_title#}></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel=stylesheet type=text/css href="<{$css_url}>style.css">
</head>

<body bgcolor="#e0e0e0" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<br>

<table width="99%" cellpadding=0 cellspacing=1 border="0"  align="center">
<tr>
<td align="center">
<font size="4"><{$title}></font>
</td>
</tr>

<tr>
<td align="center">
<{#create_date#}>： <{$begin_date|date_format:"%Y-%m-%d %H:%M:%S"}>
</td>
</tr>
</table>

<table width="78%" cellpadding=15 height="300" cellspacing=1 border="0" bgcolor="#727273" align="center">
<tr>
<td align="left" valign="top" bgcolor="#FFFFFF">
<{$content}>

</td>
</tr>

</table>
<center><a href="javascript:history.back()"><{#back_label#}></a></center>

<br>
<br>



</body>
</html>

