<{ config_load file="admin/adduserblacklist.conf" }>
<html>
<head>
<title><{#res_title#}></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel=stylesheet type=text/css href="<{$css_url}>style.css">
</head>

<body bgcolor="#e0e0e0" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<form name="form2" action="index.php" method="post">
<input type="hidden" name="action" value="saveuserblacklist">
&nbsp;<b><{#add_user_label#}></b>
<table align="left" cellpadding="1" cellspacing="1" border="0" bgcolor="#727273">
<tr>
<td>
<font color="#FFFFFF"><{#user_name_label#}>：</font>
</td>
<td align="center" width="115">
<input type="text" name="username" size="30">
</td>
</tr>

<tr>
<td colspan="2">
<input type="submit" value="<{#add_save#}>">
<input type="reset" value="<{#reset_label#}>">
</td>
</tr>


</table>

</form>

</body>
</html>

