<{ config_load file="admin/group.conf" }>
<html>
<head>
<title><{#res_title#}></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel=stylesheet type=text/css href="<{$css_url}>style.css">
</head>

<body bgcolor="#e0e0e0" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<form name="form2" action="index.php" method="post">
<input type="hidden" name="action" value="savesetgroup">
<input type="hidden" name="page" value="<{$page}>">
<input type="hidden" name="t" value="<{$t}>">
<input type="hidden" name="m" value="<{$m}>">
<input type="hidden" name="id" value="<{$id}>">

<br>
<br>
<center><b><{#please_choice_group_label#}></b></center>
<table  align="center" cellpadding="1" cellspacing="1" border="0" bgcolor="#727273">
<tr>
<td align="center" width="65">
<font color="#FFFFFF"><{#name_label#}></font>
</td>

<td align="center">
<font color="#FFFFFF"><{#description_label#}></font>
</td>

<td align="center">
<font color="#FFFFFF"><{#choice_label#}></font>
</td>
</tr>

<{ section name="sysarray" loop=$sysarray }>
<tr bgcolor="#FFFFFF">
<td align="center">
<{$sysarray[sysarray].name}>
</td>

<td align="center">
<{$sysarray[sysarray].description}>
</td>

<td align="left">
<input type="radio" value="<{$sysarray[sysarray].id}>" name="group" <{ if $sysarray[sysarray].id == $group_id }>checked<{/if}>>
<{ if $sysarray[sysarray].id == 3 }>
<select name=layout>
<{$layout_string}>
</select>
<{/if}>
</td>
</tr>
<{/section}>

</table>

<center><input type="submit" value="<{#save_label#}>">
<input type="button" value="<{#reset_label#}>" OnClick="javascript:history.back()">
</center>

</form>


</body>
</html>

