<{ config_load file="admin/sysuser.conf" }>
<html>
<head>
<title><{#res_title#}></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel=stylesheet type=text/css href="<{$css_url}>style.css">
</head>

<body bgcolor="#e0e0e0" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">

<input type="button" value="<{#add_sys_user_label#}>" OnClick="document.location.href='index.php?action=addsysuser'">

<table  align="left" cellpadding="1" cellspacing="1" border="0" bgcolor="#727273">
<tr>
<td align="center" width="65">
<font color="#FFFFFF"><{#name_label#}></font>
</td>

<td align="center">
<font color="#FFFFFF"><{#operation_label#}></font>
</td>
</tr>

<{ section name="sysuser" loop=$sysuser }>
<tr bgcolor="#FFFFFF">
<td align="center">
<{$sysuser[sysuser].user_name}>
</td>

<td align="center">
<input type="button" value="<{#del_label#}>" OnClick="document.location.href='index.php?action=delsysuser&id=<{$sysuser[sysuser].id}>'">
<input type="button" value="<{#edit_label#}>" OnClick="document.location.href='index.php?action=editsysuser&id=<{$sysuser[sysuser].id}>'">
</td>
</tr>
<{/section}>

</table>



</body>
</html>

