<{ config_load file="showbbsindex.conf" }>

<{ include file="header.tmpl" }>

        <!-- 如果有公告则显示这一块，如果没有则不显示 -->
        <{ if $have_system_post }>
        <table width="98%" cellpadding=1 cellspacing=1 align="center" border="0">
        <tr>
        <td width="80">
        <font color="red"><b><{#system_post#}>：</b></font>
        </td>
        <td valign="middle">
        <marquee onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="70" scrollamount="3">
        <{$post_str}>
        </marquee>
        </td>
        </tr>
        </table>
        <{/if}>
        <!-- 论坛公告显示结束 -->



<!-- 显示论坛的板块信息 -->
<{ section name="main"  loop=$info}>
<{ if $info[main].subbbs }>
<table width="99%" cellpadding=0 cellspacing=5 border="0" bgcolor="white" align="center">
<tr>
<td align="left" bgcolor="<{#global_column_color#}>">
&nbsp;&nbsp;&nbsp;&nbsp;<b>
<a href="index.php?module=bbs&action=viewlayout&id=<{$info[main].id}>">
<font color="#FFFFFF">
<{$info[main].title}>
</font>
</a>
</b>
</td>
</tr>

<tr>
<td valign="top">
   <table width="99%" cellpadding=2 cellspacing=1 border="0" bgcolor="#f6f7f1" align="right">
   <tr>
   <td align="center" valign="middle" width="35">
      &nbsp;
   </td>
   <td align="center">
     <{#layout_label#}> 
   </td>
   <td align="center">
      <{#topic_click_number#}>
   </td>
   <td align="center">
      <{#reply_click_number#}>
   </td>
   <td align="center">
     <{#last_access_info#}> 
   </td>
   <td align="center">
      <{#manager_label#}> 
   </td>
   </tr>
   
   
   <{ section name="mysub" loop=$info[main].subbbs }>
   <tr>
   <td align="center" valign="middle">
   <img src="<{$image_url}><{$info[main].subbbs[mysub].image}>" border="0" align="absmiddle">
   </td>
   <td align="left" bgcolor="white">
   <a href="index.php?module=bbs&action=viewlayout&id=<{$info[main].subbbs[mysub].id}>">
   <{$info[main].subbbs[mysub].title}>&nbsp;(<{#view_persion_number#}>: <{$info[main].subbbs[mysub].viewnumber}>)
   </a><br>
   <{$info[main].subbbs[mysub].content}>
   </td>

   <!-- 主题数 -->
   <td align="center" width="55" bgcolor="white">
      <{$info[main].subbbs[mysub].topic_number}>
   </td>
   
   <!-- 回帖数 -->
   <td align="center" bgcolor="white" width="55">
      <{$info[main].subbbs[mysub].reply_number}>
   </td>
   
   <!-- 最后的发帖 -->
   <td align="left" bgcolor="white" width="135">
   <div align="left"><a href="index.php?module=bbs&action=viewtopic&id=<{$info[main].subbbs[mysub].topicid}>" title="<{$info[main].subbbs[mysub].topic_title}>"><{$info[main].subbbs[mysub].short_title}></a></div>
   <div align="right"><{$info[main].subbbs[mysub].last_time}></div>

   </td>
   
   <!-- 版主列表 -->
   <form name="form<{$info[main].subbbs[mysub].id}>">
   <td align="center" bgcolor="white" width="200">
      <select name="managerlist<{$info[main].subbbs[mysub].id}>" 
      OnChange="ViewUserInfo(document.form<{$info[main].subbbs[mysub].id}>.managerlist<{$info[main].subbbs[mysub].id}>.options[document.form<{$info[main].subbbs[mysub].id}>.managerlist<{$info[main].subbbs[mysub].id}>.selectedIndex].value)">
         <option value="-1" selected><{#manager_list#}></option>
         <option value="-2">---------</option>
         <{$info[main].subbbs[mysub].managerlist}>
      </select>

   </td>
   </form>
   </tr> 

   <{/section}>

   </table>

</td>
</tr>
</table>

<{/if}>

<{ sectionelse }>

<font color="<{#global_column_color#}>"><{#no_layout_was_created#}></font>

<{/section}>



<!-- 显示论坛的统计信息 -->

<br>
<br>

<table width="99%" align="center" bgcolor="white" cellpadding=1 cellspacing=3 border=0>
<tr>
<td bgcolor="<{#global_column_color#}>">
   &nbsp;&nbsp;<b><font color="#FFFFFF"><{#bbs_count_info#}>:</font>
</td>
</tr>

<tr>
<td >
<table width="99%" align="right" bgcolor="#f6f7f1" cellpadding=1 cellspacing=1 border=0">
<tr>
<td >
&nbsp;&nbsp;<{#current_peoples#}>： <{$online_user_number}> <{#label_user#}> <{$online_vistor_number}> <{#vistor#}>
</td>
</tr>
<tr>
<td align="left" valign="top" bgcolor="white">
<div align="left"><{#high_peoples#}><{$high_number}>, <{#occur_label#}>：<{$high_time}></div>
<div align="left">
<{ section name='info' loop=$user_info }>
<a href='index.php?module=user&action=view&id=<{$user_info[info].id}>'>
<{$user_info[info].name}>
</a>&nbsp;
<{ if $smarty.section.info.rownum is div by 20 }>
   <br>
<{/if}>
<{/section}>

</div>

<br>
</td>
</tr>
</table>

</td>
</tr>



</table>
<div align="left">
&nbsp;&nbsp;&nbsp;<img src="<{$image_url}>nonewtopic.gif" border="0" align="absmiddle">&nbsp;<{#no_new_topic#}><br>
&nbsp;&nbsp;&nbsp;<img src="<{$image_url}>havenewtopic.gif" border="0" align="absmiddle">&nbsp;<{#have_new_topic#}><br>
&nbsp;&nbsp;&nbsp;<img src="<{$image_url}>lock.gif" border="0" align="absmiddle">&nbsp;<{#layout_have_lock#}><br>

</div>






<!-- JavaScript 的函数定义区 -->
<script language="javascript">
function ViewUserInfo(user_id) {
   if ( user_id != -1 && user_id != -2 ) {
      window.open('index.php?module=user&action=view&id=' + user_id);
   }
   return;
}


</script>

<{ include file="footer.tmpl" }>
