<{config_load file="useroutbox.conf"}>

<{ include file="header.tmpl" }>

<!-- 论坛的访问菜单 -->
<table width="99%" cellpadding=0 cellspacing=1 border="0" bgcolor="#f6f7f1" align="center">
<tr>
<td align="left">
&nbsp;&nbsp;<img src="<{$image_url}>open.gif" border=0 align="absmiddle">
&nbsp;&nbsp;<a href='index.php?module=bbs'>[<{#the_bbs_home_page#}>]</a>
<font color="<{#global_column_color#}>">></font>

<a href='index.php?module=user'>[<{#user_control_panel#}>]</a>
<font color="<{#global_column_color#}>">></font>

<a href='index.php?module=message&action=send'>[<{#res_title#}>]</a>
<font color="<{#global_column_color#}>">></font>


</td>
</tr>
</table>
<br>
<!-- 论坛访问菜单结束 -->

<!-- 控制面板的菜单 -->
<{ include file="usersharemenu.tmpl" }>


<table width="99%" cellpadding=10 cellspacing=1 border="0" align="center">
<tr>
<td align="center" valign="top"  bgcolor="#FFFFFF" width="250">
<!-- 显示用户的基本情况 -->

<table width="99%" cellpadding=3 cellspacing=1 border="0" align='center' bgcolor="<{#global_font_color#}>">

<!-- 显示用户名和用户角色 -->
<tr>
<td align="center" valign="middle"  height="25" >
<b><{$view_user_name}></b>&nbsp;&nbsp;[<{$user_roles}>]
</td>
</tr>

<!-- 显示用户的头像 -->
<tr>
<td align="center" valign="middle" >
<br>
<img src="<{$head_url}>" border="0" align="absmiddle">
<br>
</td>
</tr>

<tr>
<td align="center" valign="middle"  height="25" >
<b><{#base_user_info_label#}></b>
</td>
</tr>

<tr>
<td align="left" valign="middle"  height="25" >
<b><{#username_label#}>:</b> &nbsp;&nbsp;<{$view_user_name}>
</td>
</tr>


<tr>
<td align="left" valign="middle"  height="25" >
<b><{#user_title#}>:</b>&nbsp;&nbsp;<{$user_roles}>
</td>
</tr>

<tr>
<td align="left" valign="middle"  height="25" >
<b><{#register_date#}>:</b> &nbsp;&nbsp;<{$user_register_date}>
</td>
</tr>

<tr>
<td align="left" valign="middle"  height="25" >
<b><{#last_login_date#}>:</b> &nbsp;&nbsp;<{$user_last_logout}>
</td>
</tr>


<tr>
<td align="left" valign="middle"  height="25" >
<b><{#all_topics#}>:</b> &nbsp;&nbsp;<{$all_topic_number}><{#topic_desc#}>
</td>
</tr>

<tr>
<td align="left" valign="middle"  height="25" >
<b><{#all_replies#}>:</b> &nbsp;&nbsp;<{$all_reply_number}><{#reply_desc#}>
</td>
</tr>

<tr>
<td align="left" valign="middle"  height="25" >
<b><{#favor_number#}>:</b> &nbsp;&nbsp;<{$favor_amount}><{#favor_desc#}>
</td>
</tr>


<tr>
<td align="left" valign="middle"  height="25" >
<b><{#all_messages#}>:</b> &nbsp;&nbsp;<{$message_all_number}><{#message_desc#}>
</td>
</tr>

</table>

<!-- 用户统计信息显示结束 -->





<!-- 结束显示用户的基本情况 -->
</td>
<td align="left" valign="top"  bgcolor="#FFFFFF">
<br>
<!-- 显示发件箱 -->

<script language="javascript">

   function CheckAll(v){
        var e = document.form1;
        for (var i=0;i<e.elements.length;i++)
        {
            if ( e.elements[i].type == 'checkbox' && e.elements[i].name != 'checkall' ) {
                e.elements[i].checked = v;
            }
        }
    }


function showcanceldel()
{
    var no_choice = true;

    var e = document.form1;
    for(var i=0; i<e.elements.length; i++ ) {
        if ( e.elements[i].type == 'checkbox' && e.elements[i].checked ) {
            no_choice = false;
        }
    }

    if (  no_choice ) {
      alert("<{#do_not_choice_message#}>");
      return false;
    }

    if(confirm("<{#sure_delete_msg#}>?\n")) {
       document.form1.submit();
        return;
    }
}

</script>
<!-- 站内短消息的显示处 -->
<form action="index.php" method="post" name="form1">
<input type=hidden name="module" value="message">
<input type=hidden name="action" value="delsendmsg">

<!-- 导航条 -->
<br>

<table width="99%" cellpadding=1 cellspacing=1 align="center" border=0 >
<tr>
<td align="right">
<table  align="right" cellpadding=1 cellspacing=1 border=0 bgcolor="#727273" >
<tr bgcolor="#f6f7f1" >
<td  width="150" align="center">
<font color="<{#global_column_color#}>" ><{#total_have#}><{$total_page}><{#page_th#}><{$now_page}><{#page_label#}></font>
</td>

<td align="center" width="30">
<a href='index.php?module=message&action=send&page=1'><{#first_page#}></a>
</td>

<td align="center" width="30">
<a href='index.php?module=message&action=send&page=<{$now_page-1}>'><{#pre_page#}></a>
</td>

<{ section name="nav_page" loop=$nav_page }>



<{ if $nav_page[nav_page] != $now_page }>
<td width="16" align="center">
<a href='index.php?module=message&action=send&page=<{$nav_page[nav_page]}>'><b><{$nav_page[nav_page]}></b></a>
</td>
<{ else }>

<td width="20" align="center" bgcolor="white">
<b><{$nav_page[nav_page]}></b>
</td>

<{/if}>


<{ /section }>

<td width="30" align="center">
<a href='index.php?module=message&action=send&page=<{ $now_page+1}>'><{#next_page#}></a>
</td>


<td width="30" align="center">
<a href='index.php?module=message&action=send&page=<{$total_page}>'><{#last_page#}></a>
</td>

</td>
</tr>
</table>

</td>
</tr>
</table>

<table width="98%" cellpadding=3 cellspacing=1 align="center" border="0">
<tr bgcolor="#f6f7f1">
<td align="center" width="86">
<input type=checkbox name="chkall" value="on" onclick="CheckAll(this.checked)">
<font color="<{#global_column_color#}>"><{#choice_all#}></font>
</td>
<td align="center" width="150">
<font color="<{#global_column_color#}>"><{#send_man_label#}></font>
</td>
<td align="center">
<font color="<{#global_column_color#}>"><{#title_label#}></font>
</td>
<td align="center" width="135">
<font color="<{#global_column_color#}>"><{#date_label#}></font>
</td>
</tr>

<{ section name="msg" loop=$msg }>
<tr>
<td align="center">
<input type="checkbox" name="id[]" value="<{$msg[msg].id}>">
</td>

<td align="center">
<a href="index.php?module=user&action=view&id=<{$msg[msg].send_user_id}>" target="_blank" title="<{#view_user_label#}>">
<{$msg[msg].send_user_name}></a>
</td>

<td align="left">
<a href="index.php?module=message&action=showsendmsg&id=<{$msg[msg].id}>" title="<{$msg[msg].title}>">
<{$msg[msg].short_title}>
</a>
</td>

<td align="center">
<{$msg[msg].send_date}>
</td>
</tr>

<{/section}>


</table>
<br>
<center><input type="button" name="delmesg" value="<{#delete_all_message#}>" OnClick="showcanceldel()"></center>

</td>
</tr>
</table>

</form>


<!-- 发件箱显示结束 -->
</td>
</tr>
</table>

<br>
<br>
<br>


<{ include file="footer.tmpl" }>
