<{ config_load file="footer.conf" }>



		</div>
		<br class="clear" />
	</div>
</div>


<div id="footer" class="fixed">

<a href="index.php?module=help&action=showabout"><{#footer_about_site#}></a>
&nbsp;&nbsp;
&nbsp;&nbsp;
<a href="mailto:ghw@5anet.com"><{#footer_about_manager#}></a>
&nbsp;&nbsp;
&nbsp;&nbsp;
<a href="index.php?module=help#license"><{#footer_about_lawyer#}></a>
<p align="center"><font color="<{#global_column_color#}>">Power By 5anet(BBS) Version 0.0.1, Copyright: 5anet.com<br>
</font>
</p>

</div>

</body>
</html>
