<{ config_load file="showeditinfo.conf" }>

<{ include file="header.tmpl" }>

<!-- 论坛的访问菜单 -->
<table width="99%" cellpadding=0 cellspacing=1 border="0" bgcolor="#f6f7f1" align="center">
<tr>
<td align="left">
&nbsp;&nbsp;<img src="<{$image_url}>open.gif" border=0 align="absmiddle">
&nbsp;&nbsp;<a href='index.php?module=bbs'>[<{#the_bbs_home_page#}>]</a>
<font color="<{#global_column_color#}>">></font>

<a href='index.php?module=user'>[<{#show_control_label#}>]</a>
<font color="<{#global_column_color#}>">></font>


<a href='index.php?module=user&action=editinfo'>[<{#show_edit_label#}>]</a>
<font color="<{#global_column_color#}>">></font>

</td>
</tr>
</table>
<br>

<{ include file="usersharemenu.tmpl" }>


<br>
<br>





<form action="index.php" method="post" name="register_form" id="register_form">
<input type=hidden name="module" value="user">
<input type=hidden name="action" value="saveuserinfo">


<table width="99%" cellpadding=5 cellspacing=1 border="0" bgcolor="#f6f7f1" align="center">
<tr>
<td align="left" valign="middle" colspan=2 bgcolor="#f6f7f1" height="20">
&nbsp;&nbsp;<font color="green"><{#must_input_inforamtion_label#}>:</font>
</td>
</tr>

<!-- 用户名称 -->
<tr>
<td align="left" valign="middle" width="350" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#register_user_name#}><font color="red">(*)</font>:<br>
&nbsp;&nbsp;<{#register_user_name_desc#}>
</td>
<td align="left" valign="middle" bgcolor="#FFFFFF">
<{$view_user_name}> [<{$user_roles}>]
</td>

</tr>

<!-- 电子邮件 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#register_user_email#}><font color="red">(*)</font>:
</td>
<td align="left" valign="middle" bgcolor="#FFFFFF">
<{$user_email}>
&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="public_email" value=1 <{ if $email_public }>checked <{/if}> >&nbsp;<{#public_your_email#}><br>
</td>
</tr>

<tr>
<td align="left" valign="middle" colspan=2 bgcolor="#f6f7f1" height="20">
&nbsp;&nbsp;<font color="green"><{#change_user_password#}>:</font>
</td>
</tr>


<!-- 用户原始密码 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#register_user_passwd#}><font color="red">(*)</font>:<br>
&nbsp;&nbsp;<{#old_password_desc#}>
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="password" name="olduserpass" size=30 id="oldpassword" onBlur="checkoldpassword()"><br>
<div id="showmsg_po"></div>
</td>
</tr>



<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#register_new_user_passwd#}><font color="red">(*)</font>:<br>
&nbsp;&nbsp;<{#register_password_desc#}>
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="password" name="userpass" size=30 id="password" onBlur="checkpassword()"><br>
<div id="showmsg_p1"></div>
</td>
</tr>

<!-- 确认密码 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#register_user_passwd_check#}><font color="red">(*)</font>:
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="password" name="userpasscheck" size=30 id="re-password" Onblur="checkp2()"><br>
<div id="showmsg_p2"></div>
</td>
</tr>

<tr>
<td align="left" valign="middle" colspan=2 bgcolor="#f6f7f1" height="20">
&nbsp;&nbsp;<font color="green"><{#change_user_header#}>:</font>
</td>
</tr>


<!-- 用户头像 -->
<tr>
<td align="left" valign="top" bgcolor="#FFFFFF" height="200">
&nbsp;&nbsp;<{#register_user_image#}>:
<br>
&nbsp;&nbsp;<input type="button" value="<{#click_here_edit_user_header#}>" onClick="document.location.href='index.php?module=user&action=userhead';return false;">
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;
<img src="<{$user_header}>"  border=0 id='currentimage' align='absmiddle'>

</td>
</tr>



<!-- 选填信息 -->
<tr>
<td align="left" valign="middle" colspan=2 bgcolor="#f6f7f1" height="20">
&nbsp;&nbsp;<font color="green"><{#choice_input_inforamtion_label#}>:</font>
</td>
</tr>

<!-- 性别 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#user_gender#}>
</td>
<td align="left" valign="middle" bgcolor="#FFFFFF">
<select name="register_gender">
<option value="keep" <{ if $user_gender == 'keep' }>selected <{/if}>   ><{#keep_secure#}></option>
<option value="male" <{ if $user_gender == 'male' }>selected <{/if}>   ><{#man_label#}></option>
<option value="female"  <{ if $user_gender == 'female' }> selected <{/if}> ><{#woman_label#}></option>
</select>
</td>
</tr>

<!-- 来自 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#come_from#}>
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="text" name="user_hometown" size="30" value="<{$user_hometown}>">
</td>
</tr>

<!-- 生日 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#birthday_label#}>

</td>
<td align="left" valign="middle" bgcolor="#FFFFFF">
<select name="birthday_year">
<{$birthday_year}>
</select>
<{#year_label#}>
<select name="birthday_month">
<{$birthday_month}>
</select>
<{#month_label#}>
<select name="birthday_day">
<{$birthday_day}>
</select>
<{#day_label#}>
&nbsp;&nbsp;
<input type="checkbox" name="public_birthday" value=1 <{ if $public_birthday }> checked <{/if}>>
&nbsp;<{#public_your_birthday#}>
</td>
</tr>

<!--  您的QQ -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#person_qq#}>
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="text" name="user_qq" size=45 value="<{$user_qq}>">
&nbsp;&nbsp;
<input type="checkbox" name="public_user_qq" value=1 <{ if $public_user_qq }> checked <{/if}> >
&nbsp;
<{#public_your_qq#}>
</td>
</tr>

<!-- 您的MSN -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#person_msn#}>
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="text" name="user_msn" size=45 value="<{$user_msn}>">
&nbsp;&nbsp;
<input type="checkbox" name="public_user_msn" value=1 <{ if $public_user_msn }> checked <{/if}> >
&nbsp;
<{#public_your_msn#}>
</td>
</tr>

<!-- 您的skeype -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#person_skype#}>
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="text" name="user_skype" size=45 value="<{$user_skype}>">
&nbsp;&nbsp;
<input type="checkbox" name="public_user_skype" value=1 <{ if $public_user_skype }> checked <{/if}> >
&nbsp;
<{#public_your_skype#}>
</td>
</tr>




<!-- 个人网站 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#person_website#}>
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="text" name="user_website" size=45 value="<{$user_website}>">
&nbsp;&nbsp;
<input type="checkbox" name="public_website" value=1 <{ if $public_website }> checked <{/if}> >
&nbsp;
<{#pubic_your_website_label#}>
</td>
</tr>

<!-- 默认语言 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#default_language#}>
</td>
<td align="left" valign="middle" bgcolor="#FFFFFF">
<select name="user_lang">
<option value="zh" selected><{#chinese_label#}></option>
</select>
</td>
</tr>

<!-- 界面风格 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#interface_style#}>
</td>

<td align="left" valign="middle" bgcolor="#FFFFFF">
<select name="user_theme">
<option value='new' <{ if $user_theme == 'new' }> selected <{/if}>  ><{#theme_blue#}></option>
<option value='newll' <{ if $user_theme == 'newll' }> selected <{/if}>  ><{#theme_yan_red#}></option>
</select>

</td>
</tr>


<!-- 是否接收系统邮件 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#receive_system_email_label#}>
</td>
<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="radio"  name="receive_system_email" value=1 <{ if $receive_system_email }> checked <{/if}> ><{#sure_receive_email#}>&nbsp;&nbsp;
<input type="radio" name="receive_system_email" value="0" <{ if !$receive_system_email }> checked <{/if}>   ><{#not_sure_receive_email#}>

</td>

</tr>

<!-- 是否接收系统短消息 -->
<tr>
<td align="left" valign="middle" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#receive_system_message#}>
</td>
<td align="left" valign="middle" bgcolor="#FFFFFF">
<input type="radio"  name="receive_system_message" value=1 <{ if $receive_system_message }>  checked <{/if}> ><{#sure_receive_msg#}>&nbsp;&nbsp;
<input type="radio" name="receive_system_message" value="0" <{ if !$receive_system_message }> checked <{/if}> ><{#not_sure_recieve_msg#}>

</td>

</tr>

<!-- 个性化签名 -->
<tr>
<td align="left" valign="top" bgcolor="#FFFFFF">
&nbsp;&nbsp;<{#user_sign_label#}><br>
&nbsp;&nbsp;<{#user_sign_desc#}>
</td>
<td align="left" valign="middle" bgcolor="#FFFFFF">

<{ $fck->Create() }>

</td>

</tr>

<!-- 提交注册 -->

<tr>
<td align="center" valign="middle" height="35" colspan=2 bgcolor="#FFFFFF">
<input type="submit" value="<{#make_sure_submit#}>" name="mysubmit">
<input type="reset" value="<{#make_reset_label#}>" name="myreset">
</td>
</tr>



</table>



</form>
<br>
<br>
<br>



<{ include file="footer.tmpl" }>

