
<table width="99%" cellpadding=10 cellspacing=1 border="0" bgcolor="#f6f7f1" align="center">
<tr>
<td align="center" valign="middle"  bgcolor="<{#global_column_color#}>" height="25">
<a href="index.php?module=user&action=editinfo"><font color="#FFFFFF">[<{#user_edit_infor#}>]</font></a>&nbsp;&nbsp;
<a href="index.php?module=favor"><font color="#FFFFFF">[<{#user_favor#}>]</font></a>&nbsp;&nbsp;
<a href="index.php?module=user&action=mytopic"><font color="#FFFFFF">[<{#my_topic#}>]</font></a>&nbsp;&nbsp;
<a href="index.php?module=user&action=mytopic&best=1"><font color="#FFFFFF">[<{#my_reply#}>]</font></a>&nbsp;&nbsp;
<a href="index.php?module=user&action=myreply"><font color="#FFFFFF">[<{#my_post_reply#}>]</font></a>&nbsp;&nbsp;
<a href="index.php?module=message&action=showsend"><font color="#FFFFFF">[<{#send_message#}>]</font></a>&nbsp;&nbsp;
<a href="index.php?module=message&action=receive"><font color="#FFFFFF">[<{#user_inbox#}>]</font></a>&nbsp;&nbsp;
<a href="index.php?module=message&action=send"><font color="#FFFFFF">[<{#user_sendbox#}>]</font></a>&nbsp;&nbsp;
<a href="index.php?module=user&action=userhead"><font color="#FFFFFF">[<{#change_user_header#}>]</font></a>&nbsp;&nbsp;

</td>
</tr>


</table>


