<{ config_load file="viewtopic.conf" }>
<{ include file="header.tmpl" }>

<!-- 如果有公告则显示这一块，如果没有则不显示 -->
<{ if $have_system_post }>
<table width="98%" cellpadding=1 cellspacing=1 align="center" border="0">
<tr>
<td width="80">
<font color="red"><b><{#system_post#}>：</b></font>
</td>
<td valign="middle">
<marquee onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="70" scrollamount="3">
<{$post_str}>
</marquee>
</td>
</tr>
</table>
<{/if}>


<!-- 论坛的访问菜单 -->
<table width="99%" cellpadding=0 cellspacing=1 border="0" bgcolor="#f6f7f1" align="center">
<tr>
<td align="left">
&nbsp;&nbsp;<img src="<{$image_url}>open.gif" border=0 align="absmiddle">
&nbsp;&nbsp;<a href='index.php?module=bbs'>[<{#the_bbs_home_page#}>]</a>
<font color="<{#global_column_color#}>">></font>

<{ section name="nav_menu" loop=$nav_array }>
<a href='index.php?module=bbs&action=viewlayout&id=<{$nav_array[nav_menu].id}>'>[<{$nav_array[nav_menu].title}>]</a>
<font color="<{#global_column_color#}>">></font>
<{ /section }>
<font color="<{#global_column_color#}>"><{$topic_title}></font><font color="<{#global_column_color#}>">></font>

</td>
</tr>
</table>
<br>



<!-- 帖子导航栏的显示 -->

<table width="99%" cellpadding=1 cellspacing=1 align="center" border=0 >
<tr>
<td width="250" align="left">
&nbsp;&nbsp;<a href='index.php?module=bbs&id=<{$bbs_id}>&action=newtopic'>[<{#new_topic#}>]</a>
&nbsp;&nbsp;<a href='index.php?module=bbs&id=<{$topic_id}>&action=reply'>[<{#reply_topic#}>]</a>
&nbsp;&nbsp;<a href='index.php?module=favor&type=topic&action=add&id=<{$topic_id}>&backurl=<{$backurl}>'>[<{#add_to_favor#}>]</a>
</td>
<td align="right">
<table  align="right" cellpadding=1 cellspacing=1 border=0 bgcolor="#727273" >
<tr bgcolor="#f6f7f1" >
<td  width="150" align="center">
<font color="<{#global_column_color#}>" ><{#total_have#}><{$total_page}><{#page_th#}><{$now_page}><{#page_label#}></font>
</td>

<td align="center" width="30">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=1'><{#first_page#}></a>
</td>

<td align="center" width="30">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=<{$now_page-1}>'><{#pre_page#}></a>
</td>

<{ section name="nav_page" loop=$nav_page }>



<{ if $nav_page[nav_page] != $now_page }>
<td width="16" align="center">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=<{$nav_page[nav_page]}>'><b><{$nav_page[nav_page]}></b></a>
</td>
<{ else }>

<td width="20" align="center" bgcolor="white">
<b><{$nav_page[nav_page]}></b>
</td>

<{/if}>


<{ /section }>

<td width="30" align="center">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=<{ $now_page+1}>'><{#next_page#}></a>
</td>


<td width="30" align="center">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=<{$total_page}>'><{#last_page#}></a>
</td>

</td>
</tr>
</table>

</td>
</tr>
</table>
<!-- 帖子导航菜单列表结束 -->

<br>
<!-- 帖子的内容的显示 -->

<{ section name="topic" loop=$topic }>
<table width="99%" cellpadding=4 cellspacing=0 border="0" align="center" bgcolor="<{#global_column_color#}>">
<tr>
<td align="left" width="260">
&nbsp;<img src="<{$image_url}>post_old.gif" border=0 align="absmiddle">
<font color="#FFFFFF"><{$topic[topic].posttime}></font>
</td>
<td align="right" >
<font color="#FFFFFF"><{#the_number#}><{$topic[topic].sort_number}><{#the_topic_label#}></font>&nbsp;&nbsp;
</td>
</tr>

<tr>
<td align="center" valign="top"  bgcolor="#FFFFFF">
<a name="topic<{$topic[topic].sort_number}>">

<table width="100%" align="center" cellpadding="3" cellspacing="1" border="0">

<tr>
<td colspan=2 align="left" valign="middle">
&nbsp;&nbsp;&nbsp;<font color="<{#global_column_color#}>"><b><a href="index.php?module=user&action=view&id=<{$topic[topic].user_id}>" title="<{#view_user_info#}>" target="_blank"><{$topic[topic].user_name}></a></b></font>
</td>
</tr>

<tr>
<td colspan=2 align="left" valign="middle" height="210">
&nbsp;&nbsp;&nbsp;<img src="<{$topic[topic].user_header}>" border="1"  align="absmiddle">
</td>
</tr>


<tr>
<td align="left" width="80">
<font color="<{#global_column_color#}>"><b><{#register_date#}>：</b></font>
</td>
<td align="left">
<font color="<{#global_column_color#}>"><{$topic[topic].register_date}></font>
</td>
</tr>

<tr>
<td align="left">
<font color="<{#global_column_color#}>"><b><{#user_level#}>：</b></font>
</td>
<td align="left">
<font color="<{#global_column_color#}>"><{$topic[topic].user_level}></font>
</td>
</tr>

<tr>
<td align="left">
<font color="<{#global_column_color#}>"><b><{#user_address#}>：</b></font>
</td>
<td align="left">
<font color="<{#global_column_color#}>"><{$topic[topic].user_address}></font>
</td>
</tr>

<tr>
<td align="left">
<font color="<{#global_column_color#}>"><b><{#user_topic_number#}>：</b></font>
</td>
<td align="left">
<font color="<{#global_column_color#}>"><{$topic[topic].user_topic_number}></font>
</td>
</tr>

<tr>
<td height="25" colspan="2">
&nbsp;
</td>
</tr>

<tr>
<td align="left" colspan="2">
&nbsp;&nbsp;<a href="#this" title="<{$topic[topic].user_name}><{ if $topic[topic].online }><{#current_online#}><{ else }><{#current_offline#}><{/if}>"><img src="<{$image_url}><{ if $topic[topic].online }>user_online.gif<{ else }>user_offline.gif<{/if}>" border="0"></a>
<a href="index.php?module=message&action=showsend&id=<{$topic[topic].user_id}>&backurl=<{$backurl}>" title="<{#give_label#}><{$topic[topic].user_name}><{#send_message_label#}>"><img src="<{$image_url}>xchat.gif" border="0"></a>
<a href="index.php?module=email&action=showsend&id=<{$topic[topic].user_id}>&backurl=<{$backurl}>" title="<{#give_label#}><{$topic[topic].user_name}><{#send_email#}>"><img src="<{$image_url}>email.gif" border="0"></a>
</td>
</tr>

</table>

</td>


<!-- 内容显示区 -->

<td align="left" valign="top" bgcolor="#FFFFFF">

<table width="100%" height="100%" cellpadding="5" border="0" cellspacing=3 bgcolor="#FFFFFF" align="center">
<tr>
<td align="right" width="100%" valign="middle">
<!-- 显示编辑等-->
<{ if $can_be_close }>
<{ if !$topic[topic].is_topic }>
<{ if $topic[topic].had_closed }>
<a href='index.php?module=bbs&id=<{$topic[topic].id}>&action=openreply'>[<{#open_reply#}>]</a>
&nbsp;
<{ else }>
<a href='index.php?module=bbs&id=<{$topic[topic].id}>&action=closereply'>[<{#close_reply#}>]</a>
&nbsp;
<{/if}>
<{/if}>
<{/if}>

<{ if $topic[topic].can_be_edit }>
<{ if $topic[topic].is_topic }>
<a href='index.php?module=bbs&id=<{$topic_id}>&action=edit&topic=1'>[<{#edit_label#}>]</a>
<{ else }>
<a href='index.php?module=bbs&id=<{$topic[topic].id}>&action=edit&topic=0'>[<{#edit_label#}>]</a>
<{ /if }>
<{ /if }>
&nbsp;<a href='index.php?module=bbs&id=<{$topic_id}>&action=reply&quote=1&replyid=<{ if !$topic[topic].is_topic }><{$topic[topic].id}><{ else }>0<{/if}>'>[<{#quote_label#}>]</a>
&nbsp;<a href='index.php?module=bbs&id=<{$topic_id}>&action=reply'>[<{#reply_label#}>]</a>
&nbsp;

</td>
</tr>

<tr>
 <td align="left" width="98%" valign="top" height="99" bgcolor="#ffffff" > 
&nbsp;&nbsp;<img src="<{$image_url}>icon1.gif" border="0" align="absmiddle">
<font color="<{#global_column_color#}>"><b><{#topic_title_label#}>：</b>
<{ if $topic[topic].express }>
<img src="<{$image_url}>express/<{$topic[topic].express}>" border="0" align="absmiddle">
<{/if}>
&nbsp;&nbsp;<b><{$topic[topic].title}></b></font><br><br>

<{$topic[topic].content}>

<{ if $topic[topic].user_sign}>
<br>
<br>
<br>
<br>
<{ $topic[topic].user_sign }>
<{/if}>
</td>
</tr>
</table>
</td>
</tr>

<tr height="15" bgcolor="#ffffff">
<td align="left" valign="middle">
&nbsp;
</td>
<td align="right" valign="middle">
<{ if $can_be_close }>
<{ if !$topic[topic].is_topic }>
<{ if $topic[topic].had_closed }>
<a href='index.php?module=bbs&id=<{$topic[topic].id}>&action=openreply'>[<{#open_reply#}>]</a>
&nbsp;
<{ else }>
<a href='index.php?module=bbs&id=<{$topic[topic].id}>&action=closereply'>[<{#close_reply#}>]</a>
&nbsp;
<{/if}>
<{/if}>
<{/if}>

<{ if $topic[topic].can_be_edit }>
<{ if $topic[topic].is_topic }>
<a href='index.php?module=bbs&id=<{$topic_id}>&action=edit&topic=1'>[<{#edit_label#}>]</a>
<{ else }>
<a href='index.php?module=bbs&id=<{$topic[topic].id}>&action=edit&topic=0'>[<{#edit_label#}>]</a>
<{ /if }>
<{ /if }>
&nbsp;<a href='index.php?module=bbs&id=<{$topic_id}>&action=reply&quote=1&replyid=<{ if !$topic[topic].is_topic }><{$topic[topic].id}><{ else }>0<{/if}>'>[<{#quote_label#}>]</a>
&nbsp;<a href='index.php?module=bbs&id=<{$topic_id}>&action=reply'>[<{#reply_label#}>]</a>
&nbsp;
</td>
</tr>
</table>
<br>

<{/section}>

<!-- 帖子的内容显示结束处 -->


<!-- 底部帖子导航栏的显示 -->

<table width="99%" cellpadding=1 cellspacing=1 align="center" border=0 >
<tr>
<td width="250" align="left">
&nbsp;&nbsp;<a href='index.php?module=bbs&id=<{$bbs_id}>&action=newtopic'>[<{#new_topic#}>]</a>
&nbsp;&nbsp;<a href='index.php?module=bbs&id=<{$topic_id}>&action=reply'>[<{#reply_topic#}>]</a>
&nbsp;&nbsp;<a href='index.php?module=favor&type=topic&action=add&id=<{$topic_id}>&backurl=<{$backurl}>'>[<{#add_to_favor#}>]</a>
</td>
<td align="right">
<table  align="right" cellpadding=1 cellspacing=1 border=0 bgcolor="#727273" >
<tr bgcolor="#f6f7f1" >
<td  width="150" align="center">
<font color="<{#global_column_color#}>" ><{#total_have#}><{$total_page}><{#page_th#}><{$now_page}><{#page_label#}></font>
</td>

<td align="center" width="30">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=1'><{#first_page#}></a>
</td>

<td align="center" width="30">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=<{$now_page-1}>'><{#pre_page#}></a>
</td>

<{ section name="nav_page" loop=$nav_page }>



<{ if $nav_page[nav_page] != $now_page }>
<td width="16" align="center">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=<{$nav_page[nav_page]}>'><b><{$nav_page[nav_page]}></b></a>
</td>
<{ else }>

<td width="20" align="center" bgcolor="white">
<b><{$nav_page[nav_page]}></b>
</td>

<{/if}>


<{ /section }>

<td width="30" align="center">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=<{ $now_page+1}>'><{#next_page#}></a>
</td>


<td width="30" align="center">
<a href='index.php?module=bbs&action=viewtopic&id=<{$topic_id}>&page=<{$total_page}>'><{#last_page#}></a>
</td>

</td>
</tr>
</table>

</td>
</tr>
</table>
<!-- 帖子导航菜单列表结束 -->
<br>
<br>

<form name="operation">
<table width="98%" cellpadding=3 cellspacing=3 align="right" border="0">
<tr>
<td align="right">
<b><{#manager_label#}>：</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>
</tr>
<tr>
<td align="right">
<select name="sub" OnChange="ActionCall(this)">
<option value="0">------------------------</option>
<option value="6"><{#setbest_label#}></option>
<option value="7"><{#settop_label#}></option>
<option value="0">------------------------</option>
<option value="8"><{#unset_best#}></option>
<option value="9"><{#unset_top#}></option>
<option value="0">------------------------</option>
<option value="1"><{#close_topic_label#}></option>
<option value="2"><{#open_topic_label#}></option>
<option value="3"><{#author_label#}></option>
<option value="4"><{#move_topic#}></option>
<option value="5"><{#del_topic#}></option>
</select>
</td>
</tr>
</table>
</form>
<br><br>
<br><br>


<script language="javascript">
function ActionCall(form) {
   var selectValue = form.options[form.selectedIndex].value;
   switch(selectValue) {
      case '1':
         document.location.href='index.php?module=bbs&action=closetopic&id=<{$topic_id}>';
         break;
      case '2':
         document.location.href='index.php?module=bbs&action=opentopic&id=<{$topic_id}>';
         break;
      case '3':
         document.location.href='index.php?module=bbs&action=checktopic&id=<{$topic_id}>';
         break;
      case '4':
         document.location.href='index.php?module=bbs&action=movetopic&id=<{$topic_id}>';
         break;
      case '5':
         document.location.href='index.php?module=bbs&action=deltopic&id=<{$topic_id}>';
         break;
      case '6':
         document.location.href='index.php?module=bbs&action=setbest&id=<{$topic_id}>';
         break;
      case '7':
         document.location.href='index.php?module=bbs&action=settop&id=<{$topic_id}>';
         break;
      case '8':
         document.location.href='index.php?module=bbs&action=unsetbest&id=<{$topic_id}>';
         break;
      case '9':
         document.location.href='index.php?module=bbs&action=unsettop&id=<{$topic_id}>';
         break;
   }

}


</script>

<{ include file="footer.tmpl" }>
