<html>
<head>
<title>Admin System</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel=stylesheet type=text/css href="<{$css_url}>style.css">
</head>

<frameset rows="*" cols="160,*" framespacing="0" frameborder="yes" border="1">
  <frame src="index.php?action=leftmenu" name="leftFrame" scrolling="auto" noresize>
  <frame src="index.php?action=welcome" name="mainFrame" marginheight="0" marginwidth="0">
</frameset>
<noframes>
<body bgcolor="#e0e0e0" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">

</body>
</html>

