<{ config_load file="admin/left.conf" }>

<html>
<head>
<title>Admin System - Left Menu </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel=stylesheet type=text/css href="<{$css_url}>adminstyle.css">
</head>

<body bgcolor="#3674cf" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">

<br>
<center><font color="#FFFFFF">Welcome</font></center>

<table width="98%" border="0" align="center">


  <tr>
    <td height="24" align="center"><a href="index.php?action=site" target="mainFrame"
 class="tblItem"><{#system_module_label#}></a></td>
  </tr>

  <tr>
    <td height="24" align="center"><a href="index.php?action=post" target="mainFrame"
 class="tblItem"><{#system_post_label#}></a></td>
  </tr>


  <tr>
    <td height="24" align="center"><a href="index.php?action=group" target="mainFrame"
 class="tblItem"><{#system_group_label#}></a></td>
  </tr>

  <tr>
    <td height="24" align="center"><a href="index.php?action=blacklist" target="mainFrame"
 class="tblItem"><{#black_list_label#}></a></td>
  </tr>

  <tr>
    <td height="24" align="center"><a href="index.php?action=ipblacklist" target="mainFrame"
 class="tblItem"><{#ip_black_list_label#}></a></td>
  </tr>


  <tr>
    <td height="24" align="center"><a href="index.php?action=layout" target="mainFrame"
 class="tblItem"><{#layout_label#}></a></td>
  </tr>

  <tr>
    <td height="24" align="center"><a href="index.php?action=user" target="mainFrame"
 class="tblItem"><{#user_label#}></a></td>
  </tr>

<!--
  <tr>
    <td height="24" align="center"><a href="index.php?action=log" target="mainFrame"
 class="tblItem"><{#access_log_label#}></a></td>
  </tr>
-->

  <tr>
    <td height="24" align="center"><a href="index.php?action=system" target="mainFrame"
 class="tblItem"><{#system_user_label#}></a></td>
  </tr>


  <tr>
    <td height="24" align="center"><a href="index.php?action=logout" target="_top"  class="tblItem"><{#logout_label#}></a></td>
  </tr>


</table>

</body>
</html>

