<{ config_load file="bbssearchresult.conf" }>
<{ include file="header.tmpl" }>

<br>
<!-- 如果有公告则显示这一块，如果没有则不显示 -->
<{ if $have_system_post }>
<table width="98%" cellpadding=1 cellspacing=1 align="center" border="0">
<tr>
<td width="80">
<font color="red"><b><{#system_post#}>：</b></font>
</td>
<td valign="middle">
<marquee onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="70" scrollamount="3">
<{$post_str}>
</marquee>
</td>
</tr>
</table>
<{/if}>

<!-- 论坛的访问菜单 -->
<table width="99%" cellpadding=0 cellspacing=1 border="0" bgcolor="#f6f7f1" align="center">
<tr>
<td align="left">
&nbsp;&nbsp;<img src="<{$image_url}>open.gif" border=0 align="absmiddle">
&nbsp;&nbsp;<a href='index.php?module=bbs'>[<{#the_bbs_home_page#}>]</a>
<font color="#336699">></font>
<font color="#336699"><{#res_title#}></font>
<font color="#336699">></font>
</td>
</tr>
</table>
<br>

<!-- 帖子导航栏的显示 -->
<table width="99%" cellpadding=1 cellspacing=1 align="center" border=0 >
<tr>
<td width="150" align="left">
&nbsp;
</td>
<td align="right">
<table  align="right" cellpadding=1 cellspacing=1 border=0 bgcolor="#727273" >
<tr bgcolor="#f6f7f1" >
<td  width="150" align="center">
<font color="#336699" ><{#total_have#}><{$total_page}><{#page_th#}><{$now_page}><{#page_label#}></font>
</td>

<td align="center" width="30">
<a href='index.php?module=bbs&action=searchresult&page=1&q=<{$encode_q}>'><{#first_page#}></a>
</td>

<td align="center" width="30">
<a href='index.php?module=bbs&action=searchresult&page=<{$now_page-1}>&q=<{$encode_q}>'><{#pre_page#}></a>
</td>

<{ section name="nav_page" loop=$nav_page }>



<{ if $nav_page[nav_page] != $now_page }>
<td width="16" align="center">
<a href='index.php?module=bbs&action=searchresult&page=<{$nav_page[nav_page]}>&q=<{$encode_q}>'><b><{$nav_page[nav_page]}></b></a>
</td>
<{ else }>

<td width="20" align="center" bgcolor="white">
<b><{$nav_page[nav_page]}></b>
</td>

<{/if}>


<{ /section }>

<td width="30" align="center">
<a href='index.php?module=bbs&action=searchresult&page=<{ $now_page+1}>&q=<{$encode_q}>'><{#next_page#}></a>
</td>


<td width="30" align="center">
<a href='index.php?module=bbs&action=searchresult&page=<{$total_page}>&q=<{$encode_q}>'><{#last_page#}></a>
</td>

</td>
</tr>
</table>

</td>
</tr>
</table>
<!-- 帖子导航菜单列表结束 -->

<!-- 普通帖子显示列表 -->


 <{ if $have_subject }>
   <table width="98%" cellpadding=4 cellspacing=0 border="0" align="center">
   <tr bgcolor="#c5c5b3">
   <td align="center" valign="middle" width="35">

   </td>
   <td align="center" valign="middle" >
      <font color="#336699"><{#the_subject_label#}></font>
   </td>

   <td align="center" width="65">
      <font color="#336699"><{#the_auhtor_label#}></font>
   </td>
   
   <td align="center" width="55">
      <font color="#336699"><{#view_number_label#}></font>
   </td>

   <td align="center" width="55">
      <font color="#336699"><{#reply_number_label#}></font>
   </td>

   <td align="center" width="135">
      <font color="#336699"><{#last_reply_label#}></font>
   </td>

   </tr>
   </table>
   
   <!-- 普通帖子显示 -->
   <table width="98%" cellpadding=5 cellspacing=1 border="0" bgcolor="#f6f7f1" align="center">

   <{ section name="mysubject" loop=$subject }>
   <tr>
   <td align="center" valign="middle" width="30">
   <img src="<{$image_url}><{$subject[mysubject].image}>" border="0" align="absmiddle">
   </td>
   <td bgcolor="white" align="left">
       <{ if $subject[mysubject].express ne '' }>
      <img src="<{$image_url}>express/<{$subject[mysubject].express}>" border="0" align="absmiddle">
      <{/if}>
   <a href="index.php?module=bbs&action=viewtopic&id=<{$subject[mysubject].id}>" title="<{$subject[mysubject].title}>" target="_blank"><{$subject[mysubject].title}></a>
      <{ if $subject[mysubject].have_attach }>
         <img src="<{$image_url}>attach.gif" border=0 align="absmiddle">
      <{/if}>

      <{ if  $subject[mysubject].reply_number>0 }>
      <a href="index.php?module=bbs&action=viewtopic&id=<{$subject[mysubject].id}>&page=1#topic2"
         title='<{#go_to_the_new_topic#}>'>
      <img src="<{$image_url}>firstnew.gif" border=0 align="absmiddle">
      </a>
      <{/if}>
   </td>

   <td align="center" bgcolor="white" width="65">
      <a href="index.php?module=user&action=view&id=<{$subject[mysubject].userid}>" target="_blank">
         <{$subject[mysubject].username}>
      </a>
   </td>
   
   <td align="center" width="55" bgcolor="white">
      <font color="#336699"><{$subject[mysubject].clicks_number}></font>
   </td>

   <td align="center" width="55" bgcolor="white">
      <font color="#336699"><{$subject[mysubject].reply_number}></font>
   </td>

   <td align="center" width="135" bgcolor="white">
      <font color="#336699">
         <{$subject[mysubject].last_time}><br>
       <div align="right">
      <a href="index.php?module=user&action=view&id=<{$subject[mysubject].last_userid}>">
         <{$subject[mysubject].last_username}>
      </a>
      <{ if $subject[mysubject].reply_number>0 }>
         <a href="index.php?module=bbs&action=viewtopic&id=<{$subject[mysubject].id}>&page=<{$subject[mysubject].last_page}>#topic<{$subject[mysubject].last_number}>" title="<{#go_to_the_last_topic#}>">
         <img src="<{$image_url}>lastpost.gif" border="0" align="absmiddle"></div>
         </a>
      <{/if}>
      </font>
   </td>

   </tr>

   <{/section}>

   </table>
   <{/if}>

<!-- 普通帖子显示列表结束 -->



<!-- 帖子导航栏的显示 -->
<table width="99%" cellpadding=1 cellspacing=1 align="center" border=0 >
<tr>
<td width="150" align="left">
&nbsp;
</td>
<td align="right">
<table  align="right" cellpadding=1 cellspacing=1 border=0 bgcolor="#727273" >
<tr bgcolor="#f6f7f1" >
<td  width="150" align="center">
<font color="#336699" ><{#total_have#}><{$total_page}><{#page_th#}><{$now_page}><{#page_label#}></font>
</td>

<td align="center" width="30">
<a href='index.php?module=bbs&action=searchresult&page=1&q=<{$encode_q}>'><{#first_page#}></a>
</td>

<td align="center" width="30">
<a href='index.php?module=bbs&action=searchresult&page=<{$now_page-1}>&q=<{$encode_q}>'><{#pre_page#}></a>
</td>

<{ section name="nav_page" loop=$nav_page }>



<{ if $nav_page[nav_page] != $now_page }>
<td width="16" align="center">
<a href='index.php?module=bbs&action=searchresult&page=<{$nav_page[nav_page]}>&q=<{$encode_q}>'><b><{$nav_page[nav_page]}></b></a>
</td>
<{ else }>

<td width="20" align="center" bgcolor="white">
<b><{$nav_page[nav_page]}></b>
</td>

<{/if}>


<{ /section }>

<td width="30" align="center">
<a href='index.php?module=bbs&action=searchresult&page=<{ $now_page+1}>&q=<{$encode_q}>'><{#next_page#}></a>
</td>


<td width="30" align="center">
<a href='index.php?module=bbs&action=searchresult&page=<{$total_page}>&q=<{$encode_q}>'><{#last_page#}></a>
</td>

</td>
</tr>
</table>

</td>
</tr>
</table>
<!-- 帖子导航菜单列表结束 -->




<br>
<br>
<br>
<!-- JavaScript 的函数定义区 -->
<script language="javascript">
function ViewUserInfo(user_id) {
   if ( user_id != -1 && user_id != -2 ) {
      window.open('index.php?module=user&action=view&id=' + user_id);
   }
   return;
}


</script>






<{ include file="footer.tmpl" }>
