<{ config_load file="footer.conf" }>

   <table width="98%" bgcolor="#f6f7f1" cellspacing="3" cellpadding="3" border="0"
      valign="middle" align="center">
   <tr>
   <td>
<p align="center"><a href="index.php?module=help&action=showabout"><{#footer_about_site#}></a>
&nbsp;&nbsp;
&nbsp;&nbsp;
<a href="mailto:your@email.com"><{#footer_about_manager#}></a>
&nbsp;&nbsp;
&nbsp;&nbsp;
<a href="index.php?module=help&action=lawyer"><{#footer_about_lawyer#}></a>
<p align="center"><font color="#336699">Copyright: www.5anet.com Mike.G<br>
PHP(adodb, smarty, baroque frame) + Apache + MySQL
</font>
</p>

</td>
</tr>
</table>

<br>

</td>
</tr>
</table>

</body>
</html>
