<{ config_load file="listuser.conf" }>
<{ include file="header.tmpl" }>

<br>
<!-- 如果有公告则显示这一块，如果没有则不显示 -->
<{ if $have_system_post }>
<table width="98%" cellpadding=1 cellspacing=1 align="center" border="0">
<tr>
<td width="80">
<font color="red"><b><{#system_post#}>：</b></font>
</td>
<td valign="middle">
<marquee onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="70" scrollamount="3">
<{$post_str}>
</marquee>
</td>
</tr>
</table>
<{/if}>

<!-- 论坛的访问菜单 -->
<table width="99%" cellpadding=0 cellspacing=1 border="0" bgcolor="#f6f7f1" align="center">
<tr>
<td align="left">
&nbsp;&nbsp;<img src="<{$image_url}>open.gif" border=0 align="absmiddle">
&nbsp;&nbsp;<a href='index.php?module=bbs'>[<{#the_bbs_home_page#}>]</a>
<font color="#336699">></font>
<font color="#336699"><{$user_list_label}></font>
<font color="#336699">></font>
</td>
</tr>
</table>
<br>


<!-- 搜索论坛 -->
<table width="98%" cellpadding=4 cellspacing=0 border="0" align="center">
<tr bgcolor="#c5c5b3">
<td align="center">
<a href="index.php?module=user&action=listuser&m=<{$m}>">#</a>
</td>

<td align="center">
<a href="index.php?module=user&action=listuser&t=a&m=<{$m}>">A</a>
</td>

<td align="center">
<a href="index.php?module=user&action=listuser&t=b&m=<{$m}>">B</a>
</td>

<td align="center">
<a href="index.php?module=user&action=listuser&t=c&m=<{$m}>">C</a>
</td>

<td align="center">
<a href="index.php?module=user&action=listuser&t=d&m=<{$m}>">D</a>
</td>

<td align="center">
<a href="index.php?module=user&action=listuser&t=e&m=<{$m}>">E</a>
</td>

<td align="center">
<a href="index.php?module=user&action=listuser&t=f&m=<{$m}>">F</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=g&m=<{$m}>">G</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=h&m=<{$m}>">H</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=i&m=<{$m}>">I</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=j&m=<{$m}>">J</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=k&m=<{$m}>">K</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=l&m=<{$m}>">L</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=m&m=<{$m}>">M</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=n&m=<{$m}>">N</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=o&m=<{$m}>">O</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=p&m=<{$m}>">P</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=q&m=<{$m}>">Q</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=r&m=<{$m}>">R</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=s&m=<{$m}>">S</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=t&m=<{$m}>">T</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=u&m=<{$m}>">U</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=v&m=<{$m}>">V</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=w&m=<{$m}>">W</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=x&m=<{$m}>">X</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=y&m=<{$m}>">Y</a>
</td>
<td align="center">
<a href="index.php?module=user&action=listuser&t=z&m=<{$m}>">Z</a>
</td>

</tr>

</table>


<!-- 帖子导航栏的显示 -->
<table width="99%" cellpadding=1 cellspacing=1 align="center" border=0 >
<tr>
<td width="150" align="left">
&nbsp;
</td>
<td align="right">
<table  align="right" cellpadding=1 cellspacing=1 border=0 bgcolor="#727273" >
<tr bgcolor="#f6f7f1" >
<td  width="150" align="center">
<font color="#336699" ><{#total_have#}><{$total_page}><{#page_th#}><{$now_page}><{#page_label#}></font>
</td>

<td align="center" width="30">
<a href='index.php?module=user&action=listuser&page=1&t=<{$t_sort}>&m=<{$m}>'><{#first_page#}></a>
</td>

<td align="center" width="30">
<a href='index.php?module=user&action=listuser&page=<{$now_page-1}>&t=<{$t_sort}>&m=<{$m}>'><{#pre_page#}></a>
</td>

<{ section name="nav_page" loop=$nav_page }>



<{ if $nav_page[nav_page] != $now_page }>
<td width="16" align="center">
<a href='index.php?module=user&action=listuser&page=<{$nav_page[nav_page]}>&t=<{$t_sort}>&m=<{$m}>'><b><{$nav_page[nav_page]}></b></a>
</td>
<{ else }>

<td width="20" align="center" bgcolor="white">
<b><{$nav_page[nav_page]}></b>
</td>

<{/if}>


<{ /section }>

<td width="30" align="center">
<a href='index.php?module=user&action=listuser&page=<{ $now_page+1}>&t=<{$t_sort}>&m=<{$m}>'><{#next_page#}></a>
</td>


<td width="30" align="center">
<a href='index.php?module=user&action=listuser&page=<{$total_page}>&t=<{$t_sort}>&m=<{$m}>'><{#last_page#}></a>
</td>

</td>
</tr>
</table>

</td>
</tr>
</table>


<!-- 用户列表 -->
<table width="98%" cellpadding=4 cellspacing=0 border="0" align="center">
<tr bgcolor="#f6f7f1">
<td align="center">
<font color="#336699"><{#user_name_label#}></font>
</td>

<td align="center">
<font color="#336699"><{#register_date_label#}></font>
</td>

<td align="center">
<font color="#336699"><{#topic_number_label#}></font>
</td>

<td align="center">
<font color="#336699"><{#last_access_label#}></font>
</td>

<td align="center">
<font color="#336699"><{#header_label#}></font>
</td>
</tr>


<{ section name="myuser" loop=$myuser }>
<tr bgcolor="#FFFFFF">
<td align="left" valign="center" width="360">
<a href="index.php?module=user&action=view&id=<{$myuser[myuser].id}>" target="_blank"><font color="#336699"><{$myuser[myuser].name}></font></a><br>
<font color="#336699">[<{$myuser[myuser].group}>]</font>
</td>

<td align="center" width="130">
<{$myuser[myuser].register_date}>
</td>

<td align="center" width="50">
<{$myuser[myuser].topic_number}>
</td>

<td align="center" width="130">
<{$myuser[myuser].last_access_time|date_format:"%Y-%m-%d %H:%M:%S"}>
</td>

<td align="center" width="65" >
<img src="<{$myuser[myuser].header}>" border="1" height="28" align="absmiddle">
</td>

</tr>
<{/section}>

</table>

<br>
<br>
<br>

<{ include file="footer.tmpl" }>

