<{config_load file="showhelp.conf"}>

<{ include file="header.tmpl" }>

<table width="100%" height="300" align="center" cellspacing=1 cellpadding=1 border=0>
<tr>
<td align="left" valign="top">
<h2>系统帮助</h2>




</td>
</tr>
</table>
<br>
<br>

<{ include file="footer.tmpl" }>
