
		</div>
		<br class="clear" />
	</div>
</div>


<div id="footer" class="fixed">

<p align="center"><font color="#184366">Power By 5anet(BBS) Version 0.0.1, Copyright: 5anet.com<br>
</font>
</p>

</div>

</body>
</html>
