<{include file="header.tmpl" }>

<table width="740" align="center" border="0" cellpadding=10 cellspacing=1 >
<tr>
<td width="145">
<font size="4" color="#184366">许可协议</font>
</td>
<td align="left">

<input type="button" name="install" value="&nbsp;接受协议并下一步安装&nbsp;" OnClick="document.location.href='install.php?step=2'" style="height:35px;width:175px">

</td>
</tr>

<tr>
<td align="left" valign="top" bgcolor="#FFFFFF" colspan=2>

<pre>
<font color="#184366">
5anet(BBS) 软件使用协议

5anet(BBS)论坛管理系统 简称 5anet(BBS)
版权所有 (c) 2008-, 5anet.com
保留所有权力.

5anet(BBS) 目前是由 Mike.G(中文名:黄叶)<ghw@5anet.com> 独立开发,全部核心技术归属 Mike.G
官方网站为 http://www.5anet.com 官方论坛为 http://bbs.5anet.com

本授权协议适用于 5anet(BBS) 任何版本，Mike.G(中文名:黄叶) 拥有对本授权协议的最终解释权和修改权。

5anet(BBS)论坛管理系统（简称：5anet(BBS))
1 、5anet(BBS)自全面发布之日起，决定采用GPL V3的许可证进行发布。
2 、所有用户均可查看5anet(BBS) 的全部源代码,也可以根据自己的需要对其进行修改!但无论如何，既无论用途如何、是否经过
    修改或美化、修改程度如何，只要您使用 5anet(BBS) 的任何整体或部分程序算法，都必须保留页脚处的 5anet(BBS) 名称和 
    http://www.5anet.com 的链接地址.

3、 商业授权：目前5anet(BBS)不进行商业授权，但是保留商业授权的权力。

免责声明:
1 、利用本软件构建的网站的任何信息内容以及导致的任何版权纠纷和法律争议及后果，Mike.G和代表他的
    官方不承担任何责任。
2 、损坏包括程序的使用(或无法再使用)中所有一般化,特殊化,偶然性的或必然性的损坏(包括但不限于数据的丢失,
    自己或第三方所维护数据的不正确修改,和其他程序协作过程中程序的崩溃等),Mike.G和代表他的官方不承担任何责任。

</font>
</pre>

</td>
</tr>
</table>

<{ include file="footer.tmpl" }>
